body {
    display: flex;
    flex-flow: column;
    background-color:honeydew;
}

h1 {
    display: flex;
    align-self: center; 
}

.bannerDiv {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

#mainBanner > img {
    width: 500px;
}

.weaponContainer {
    border: 5px solid black;
    margin-top:60px;
    margin-bottom:75px;
    padding: 15px;
}

.buttonContainer {
    display: flex;
    flex-flow: column;
    justify-content: left;
    margin-top: 20px;
}

.scoreDiv{
    display:flex;
    flex-flow: column;
    border: 5px solid black;
    margin-top: 75px;
    margin-bottom: 75px;
    width: 250px;
    padding-left: 15px;
}

h2 {
    text-decoration: underline;
    font-sixe: 28px;
}

.resultsDiv{
    display:flex;
    justify-content:space-around;
}

#roundResult {
    display:flex;
    justify-content: center;
    margin-top: 25px;
}


